{% extends 'base.html' %}

{% block content %}
<div class="content">
    <h1>{% block title %} Welcome to the PDF Merger {% endblock %}</h1>
    <p>Dateien zum Mergen hochladen.</p>

<form method="post" action="/" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="files[]" multiple="true" autocomplete="off" required>
            <input type="submit" value="Merge to folder!">
		</p>
    </dl>
</form>

{#<form action="download" method="post"#}
{#      <input type="submit" value="Save">#}


{#    <form  action="'download_merged_file'" method="POST">#}
{#      {{  form.download(class="btn btn-primary")   }}#}
{#    </form>#}

{#    <form  action="{{  url_for('download_merged_file')  }}" method="POST">#}
{#      {{  form.download(class="btn btn-primary")   }}#}
{#    </form>#}
{#    <table>#}
{#      {% for files in file_names %}#}
{#        <tr><td>{{ files.name }}</td></tr>#}
{#      {% endfor %}#}
{#    </table>#}



</div>
{% endblock %}